<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            <title>{% block title %}LENGOW test{% endblock %}</title>

            <link rel="stylesheet" type="text/css" href="{{ asset('static/css/style.css') }}" />
        {% endblock %}
    </head>
    <body>

        <div id="wrapper">
            {# Content #}
            <div>
                {% block body %}{% endblock %}
            </div>
        </div>

    </body>
</html>