{% extends "LengowTestBundle::layout.html.twig" %}

{% block body %}
    {{ grid(grid) }}

    {{ form_start(form, { 'attr': {'class': 'bootstrap-frm'} }) }}
        <h1>Add an order</h1>
   {{ form_end(form) }}
{% endblock %}

